In [1]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

q1....Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [7]:
#import selenium and webdriver
import selenium
from selenium import webdriver
import pandas as pd
#import warnings to avoid warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')

In [4]:
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
#getting url
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
#Extracting the search element data analyst 
search_job = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job
search_job.send_keys("Data Analyst")

In [7]:
#Extracting the search location element with banglore
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc
search_loc.send_keys("bangalore")

In [8]:
#then search
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn
search_btn.click()

In [9]:
titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(titles)
titles[0:10]
job_titles = []

for i in titles:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Data Analyst I',
 'Senior Data Analyst II',
 'Senior Data Analyst - Ads & Promotion Platform (APP)',
 'Hiring For Data Analyst I(SQL & Python)',
 'Lead Data Analyst - Flipkart Data science group',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst II']

In [10]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
experience = []

for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['5-10 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '4-7 Yrs',
 '1-3 Yrs',
 '7-12 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-4 Yrs']

In [11]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)
location = []

for i in loc_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Cerner',
 'Flipkart',
 'Gojek',
 'Clario India Pvt Ltd',
 'Flipkart',
 'Flipkart',
 'Intel',
 'Capco',
 'Flipkart',
 'Flipkart']

In [16]:
#creating DataFrame
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['Experience'] = experience
jobs['Location'] = location
jobs['Company'] = company_names
jobs

,job title,Experience,Location,Company
0,Data Analyst I,5-10 Yrs,Bangalore/Bengaluru,Cerner
1,Senior Data Analyst II,3-6 Yrs,Bangalore/Bengaluru,Flipkart
2,Senior Data Analyst - Ads & Promotion Platform...,3-8 Yrs,Bangalore/Bengaluru,Gojek
3,Hiring For Data Analyst I(SQL & Python),0-2 Yrs,Bangalore/Bengaluru,Clario India Pvt Ltd
4,Lead Data Analyst - Flipkart Data science group,4-7 Yrs,Bangalore/Bengaluru,Flipkart
5,Data Analyst,1-3 Yrs,Bangalore/Bengaluru,Flipkart
6,Data Analyst,7-12 Yrs,Bangalore/Bengaluru,Intel
7,Senior Data Analyst,4-8 Yrs,Bangalore/Bengaluru,Capco
8,Senior Data Analyst,3-8 Yrs,Bangalore/Bengaluru,Flipkart
9,Senior Data Analyst II,2-4 Yrs,Bangalore/Bengaluru,Flipkart
10,Senior Data Analyst II,2-4 Yrs,Bangalore/Bengaluru,Flipkart
11,Senior Data Analyst,3-6 Yrs,Bangalore/Bengaluru,Mobile Premier League
12,Job openings For Data Analyst - AOA,2-3 Yrs,Bangalore/Bengaluru(4th Phase JP Nagar),izmo ltd
13,Cargill - Data Analyst - Corporate Audit Domai...,6-11 Yrs,Bangalore/Bengaluru,Cargill Business Services India Private Limited
14,Hiring Data Analyst-Coimbatore/Bangalore,5-10 Yrs,"Coimbatore, Bangalore/Bengaluru",KGISL BSS- Division of KG Information System P...
15,Hiring Data analyst with Pharma Background acr...,6-11 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",HCL
16,Looking For Data Analyst,0-2 Yrs,"Ahmedabad, Bangalore/Bengaluru",Trellance
17,Senior Data Analyst,5-8 Yrs,Remote,Liventus
18,Associate Data Analyst,4-9 Yrs,Bangalore/Bengaluru,Optum
19,Data Analyst with Tableau and SQL,5-10 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",CriticalRiver Technologies Private Limited

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps

In [17]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')

In [18]:
driver = webdriver.Chrome("chromedriver.exe")

In [19]:
#getting url
url = 'https://www.naukri.com/'
driver.get(url)

In [21]:
#extracting search element with data scienctist
search_job = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job
search_job.send_keys("Data Scientist")
#extracting search location element with banglore
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc
search_loc.send_keys("bangalore")
#then click on search button
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn
search_btn.click()

In [22]:
titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(titles)
titles[0:10]
job_titles = []

for i in titles:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Sr Data Scientist',
 'HCL Tech Opening - Lead Data Scientist',
 'Sr . Data Scientist',
 'Senior Data Scientist Payments',
 'Senior Data Scientist (R Programming)',
 'Lead Data Scientist',
 'Data Scientist/Senior Data Scientist - Python',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Data Scientist / Analyst',
 'Need Data scientists and data engineers - WFH- less than 30days notice']

In [23]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Uber',
 'HCL',
 'Visa',
 'AirSeva',
 'Ignitho',
 'Kyndryl',
 'ApicalGo Consultancy',
 'Altimax Business Solutions',
 'open data fabric',
 'Covalense Technologies Private Limited']

In [24]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)
location = []

for i in loc_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)']

In [25]:
#create the data frame
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['Location'] = location
jobs['Company'] = company_names
jobs

,job title,Location,Company
0,Sr Data Scientist,Bangalore/Bengaluru,Uber
1,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",HCL
2,Sr . Data Scientist,Bangalore/Bengaluru,Visa
3,Senior Data Scientist Payments,Bangalore/Bengaluru,AirSeva
4,Senior Data Scientist (R Programming),Remote,Ignitho
5,Lead Data Scientist,Bangalore/Bengaluru,Kyndryl
6,Data Scientist/Senior Data Scientist - Python,Bangalore/Bengaluru,ApicalGo Consultancy
7,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions
8,Data Scientist / Analyst,Bangalore/Bengaluru,open data fabric
9,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
10,Data Scientist,Bangalore/Bengaluru,AirSeva
11,Data Scientist,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu...",Korea Trade Center
12,Data Scientist,Bangalore/Bengaluru,Microsoft
13,Hiring For Data scientist- ML/python @ Unitedh...,Bangalore/Bengaluru\n(WFH during Covid),Optum
14,Data Scientist,Bangalore/Bengaluru,Cytiva
15,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League
16,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank
17,Data Scientist,Bangalore/Bengaluru,Shell
18,Data Scientist,"Mumbai, Bangalore/Bengaluru",Master Mind Consultancy
19,Data Scientist,"Mumbai, Bangalore/Bengaluru",Master Mind Consultancy

Q3..In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [28]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')

In [29]:
driver = webdriver.Chrome("chromedriver.exe")

In [33]:
#getting url 
url = 'https://www.naukri.com/'
driver.get(url)

In [35]:
#extracting the search element with data scientist
search_job = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job
search_job.send_keys("Data Scientist")
#click on the extracting data of search element
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn
search_btn.click()

In [43]:
#extracting the location filter 
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i")
location_filter.click()

In [44]:
#extracting the salary filter
salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_filter.click()

In [45]:
titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(titles)
titles[0:10]
job_titles = []

for i in titles:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data scientist- Python',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Hiring For Senior Data Scientist-Noida',
 'Data Scientist',
 'Data Scientist _NLP',
 'Data Scientist (freelance)',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs']

In [46]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['NTT Data',
 'TeamPlus Staffing Solution Pvt Ltd',
 'GABA Consultancy services',
 'Lumiq.ai',
 'Mount Talent Consulting Private Limited',
 'EXL',
 '2Coms',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'GABA Consultancy services']

In [47]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)
location = []

for i in loc_tags:
    location.append(i.text)
location[0:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Delhi / NCR',
 'Noida, New Delhi, Greater Noida',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'New Delhi, Delhi',
 'Noida',
 'Noida',
 'Noida, New Delhi, Gurgaon/Gurugram']

In [48]:
#create the dataframe
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['Location'] = location
jobs['Company'] = company_names
jobs

,job title,Location,Company
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data
1,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd
2,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services
3,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai
4,Data Scientist,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Mount Talent Consulting Private Limited
5,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms
7,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
8,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
9,Only Fresher / Python Data Scientist / Trainee...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services
10,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited
11,Hiring For Data Scientist- Gurgaon/ Noida,"Noida, Gurgaon/Gurugram",Mascot e-services
12,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Sejal Consulting Hub
13,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL
14,Data Scientist,New Delhi,Boston Consulting Group
15,Data Scientist,Noida,Stefanini
16,Senior Data Scientist,Delhi,iNICU
17,Lead Data Scientist - KYC/Fraud/Marketing,New Delhi,Tide Software
18,Open Project | IT Consulting | Data Scientist,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",Virtuoso Staffing Solutions Pvt Ltd
19,Data Scientist,"Gurgaon, Bengaluru",BlackBuck

q4..Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes
1. Brand
2. Product Description
3. Price

In [71]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com/'
driver.get(url)

In [72]:
#extracting the search element with sunglass
search_thing = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_thing
search_thing.send_keys("sunglasses")
#click on extracting data of search btn
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn
search_btn.click()

In [84]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:40]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:40]

['Ray-Ban',
 'Ray-Ban',
 'SRPM',
 'SUNBEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Elligator',
 'Arnette',
 'Lee Topper',
 'New Specs',
 'DEIXELS',
 'LOUIS KOUROS',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Lee Topper',
 'Arnette',
 'GANSTA',
 'kingsunglasses',
 'ROYAL SON',
 'Arnette',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'Arnette',
 'SUNBEE',
 'GANSTA',
 'PIRASO',
 'Arnette',
 'kingsunglasses',
 'PIRASO',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'Arnette']

In [85]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:40]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:40]

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (54)',
 'Others Rectangular Sunglasses (56)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (58)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Others Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Oval Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Others Rectangular Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Retro Square Sunglasses (55)']

In [86]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:40]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:40]

['₹3,479₹5,49036% off',
 '₹6,649₹7,39010% off',
 '₹198₹1,29984% off',
 '₹253₹1,29980% off',
 '₹229₹1,59985% off',
 '₹474₹1,99976% off',
 '₹258₹2,49589% off',
 '₹4,199₹8,39049% off',
 '₹275₹2,49988% off',
 '₹232₹2,59991% off',
 '₹202₹1,19983% off',
 '₹1,349₹8,00083% off',
 '₹679₹79915% off\nFree delivery',
 '₹225₹1,59985% off',
 '₹225₹1,59985% off',
 '₹426₹1,99578% off',
 '₹165₹1,69990% off',
 '₹225₹1,59985% off',
 '₹199₹99980% off',
 '₹2,549₹5,09049% off\nFree delivery',
 '₹198₹1,79988% off',
 '₹239₹1,99988% off',
 '₹379₹1,49974% off',
 '₹4,199₹8,39049% off\nFree delivery',
 '₹289₹99971% off',
 '₹184₹1,19984% off',
 '₹709₹89921% off\nFree delivery',
 '₹3,199₹6,39049% off\nFree delivery',
 '₹284₹1,69983% off',
 '₹284₹1,99985% off',
 '₹225₹1,59985% off',
 '₹2,899₹5,79049% off\nFree delivery',
 '₹186₹99981% off',
 '₹375₹2,59985% off',
 '₹246₹1,49983% off',
 '₹307₹1,99984% off',
 '₹189₹99881% off',
 '₹299₹1,59981% off',
 '₹639₹79920% off',
 '₹2,549₹5,09049% off\nFree delivery']

In [87]:
#extracting the next btn data and click on
next_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn
next_btn.click()

In [88]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:40]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:40]

['kingsunglasses',
 'SRPM',
 'ROYAL SON',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'NuVew',
 'SUNBEE',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'Silver Kartz',
 'New Specs',
 'PIRASO',
 'Silver Kartz',
 'Ray-Ban',
 'Lee Topper',
 'SRPM',
 'ROZZETTA CRAFT',
 'Arnette',
 'SHAAH COLLECTIONS',
 'SRPM',
 'kingsunglasses',
 'VINCENT CHASE',
 'Elligator',
 'Rich Club',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'New Specs',
 'New Specs',
 'PIRASO',
 'povty',
 'PHENOMENAL',
 'IDEE',
 'PHENOMENAL',
 'Silver Kartz',
 'Lee Topper',
 'Singco India',
 'ROYAL SON',
 'Ray-Ban']

In [89]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:40]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:40]

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (88)',
 'Gradient Round Sunglasses (54)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Retro Square Sunglasses (56)',
 'UV Protection Round Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Rectangular Sunglasses (58)']

In [90]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:40]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:40]

['₹289₹1,59981% off',
 '₹220₹99877% off',
 '₹379₹1,49974% off',
 '₹3,479₹5,49036% off',
 '₹181₹99981% off',
 '₹327₹1,24573% off',
 '₹230₹1,29982% off',
 '₹6,649₹7,39010% off',
 '₹474₹2,22578% off',
 '₹379₹1,49974% off',
 '₹258₹1,99987% off',
 '₹367₹1,49975% off',
 '₹263₹1,39981% off',
 '₹349₹2,59986% off',
 '₹255₹1,19978% off',
 '₹8,089₹8,99010% off\nFree delivery',
 '₹276₹2,49988% off',
 '₹178₹99982% off',
 '₹379₹1,99981% off',
 '₹2,549₹5,09049% off\nFree delivery',
 '₹284₹1,69983% off',
 '₹199₹99980% off',
 '₹180₹1,09983% off',
 '₹980₹1,99950% off\nFree delivery',
 '₹176₹1,49788% off',
 '₹175₹49964% off',
 '₹342₹1,99982% off',
 '₹8,449₹9,39010% off\nFree delivery',
 '₹155₹1,29988% off',
 '₹183₹1,59988% off',
 '₹375₹2,59985% off',
 '₹299₹99970% off',
 '₹328₹1,99983% off',
 '₹1,009₹2,45058% off\nFree delivery',
 '₹307₹1,99884% off',
 '₹246₹1,49983% off',
 '₹375₹1,29971% off',
 '₹219₹1,49985% off',
 '₹474₹1,49968% off',
 '₹7,999₹8,89010% off\nFree delivery']

In [91]:
#extracting the next data for next page
next_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn
next_btn.click()

In [92]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:20]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:20]

['kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'Rich Club',
 'PIRASO',
 'kingsunglasses',
 'Ray-Ban',
 'ROYAL SON',
 'United Colors of Benetton',
 'hipe',
 'Silver Kartz',
 'PHENOMENAL',
 'SUNBEE',
 'Fastrack',
 'Ray-Ban',
 'Singco India',
 'SUNBEE',
 'kingsunglasses',
 'ROZZETTA CRAFT']

In [93]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:20]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:20]

['Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'Mirrored Aviator Sunglasses (32)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient Round Sunglasses (54)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)']

In [94]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:20]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:20]

['₹258₹1,99987% off',
 '₹639₹79920% off',
 '₹616₹2,55575% off',
 '₹3,479₹5,49036% off',
 '₹260₹79967% off',
 '₹199₹1,59987% off',
 '₹219₹1,29983% off',
 '₹6,649₹7,39010% off',
 '₹711₹1,99964% off\nFree delivery',
 '₹949₹3,70074% off\nFree delivery',
 '₹179₹1,46687% off',
 '₹367₹1,49975% off',
 '₹317₹1,99984% off',
 '₹253₹1,29980% off',
 '₹739₹89917% off\nFree delivery',
 '₹8,089₹8,99010% off\nFree delivery',
 '₹194₹1,49987% off',
 '₹247₹1,29980% off',
 '₹179₹99982% off',
 '₹426₹1,99978% off']

q6...Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [111]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
#getting url
url = 'http://www.flipkart.com/'
driver.get(url)

In [113]:
#extracting the element with sneakers
search_product = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_product
search_product.send_keys("sneakers")
#extracting the search btn data then clicking with click method
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn
search_btn.click()

In [114]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:40]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:40]

['Chevit',
 'Magnolia',
 'DUNKASTON',
 'BRUTON',
 'World Wear Footwear',
 'KWIK FIT',
 'BRUTON',
 'TR',
 'URBANBOX',
 'corsac',
 'D-SNEAKERZ',
 'Shoes Bank',
 'BRUTON',
 'Numenzo',
 'BRUTON',
 'BRUTON',
 'Labbin',
 'RapidBox',
 'aadi',
 'India hub',
 'SCATCHITE',
 'CLYMB',
 'Magnolia',
 'Kraasa',
 'Stefano Rads',
 'Chevit',
 'Echor',
 'Kzaara',
 'Airland',
 'luxury fashion',
 'Kraasa',
 'BRUTON',
 'World Wear Footwear',
 'India hub',
 'Kraasa',
 'Zsyto',
 'World Wear Footwear',
 'ASTEROID',
 'Xtoon',
 'Magnolia']

In [115]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:40]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:40]

['Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'sneaker men red 1258 - 6 Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'casual sneaker shoes for men kardam&sons Sneakers For M...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men']

In [116]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:40]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:40]

['₹649₹1,59859% off',
 '₹448₹99955% off',
 '₹199₹1,49986% off',
 '₹259₹1,29980% off',
 '₹199₹49960% off',
 '₹399₹1,99980% off',
 '₹299₹1,29976% off',
 '₹322₹99967% off',
 '₹198₹99980% off',
 '₹449₹1,49970% off',
 '₹384₹65941% off',
 '₹298₹99970% off',
 '₹536₹2,49978% off\nFree delivery',
 '₹649₹2,99978% off\nFree delivery',
 '₹471₹2,49981% off',
 '₹299₹1,29976% off',
 '₹499₹99950% off',
 '₹680₹99931% off',
 '₹339₹99966% off',
 '₹425₹1,99978% off',
 '₹379₹99962% off',
 '₹616₹1,49958% off\nFree delivery',
 '₹448₹99955% off',
 '₹444₹99955% off',
 '₹240₹69965% off',
 '₹259₹79967% off',
 '₹499₹99950% off',
 '₹259₹99974% off',
 '₹198₹49960% off',
 '₹489₹1,99975% off',
 '₹444₹99955% off',
 '₹699₹3,49980% off\nFree delivery',
 '₹259₹49948% off',
 '₹449₹1,29965% off',
 '₹449₹99955% off',
 '₹311₹1,29976% off',
 '₹259₹49948% off',
 '₹474₹1,99976% off',
 '₹479₹1,49968% off',
 '₹448₹99955% off']

In [117]:
#extracting the next btn data for next page
next_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn
next_btn.click()

In [118]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:40]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:40]

['BIRDE',
 'RAFTAR FASHION',
 'CLYMB',
 'HRX by Hrithik Roshan',
 'Robbie jones',
 'Ktiz',
 'RANZAG',
 'Roadster',
 'PUMA',
 'Numenzo',
 'ASIAN',
 'RapidBox',
 'Robbie jones',
 'PUMA',
 'Chevit',
 'RapidBox',
 'Robbie jones',
 'D-SNEAKERZ',
 'COZY2FOOTWEAR',
 'Roadster',
 'Dizzler',
 'bluemaker',
 'CAMPUS',
 'HIGHLANDER',
 'Echor',
 'Trendmode',
 'Hida',
 'RapidBox',
 'asics',
 'Rzisbo',
 'AMICO',
 'HOTSTYLE',
 'RapidBox',
 'Vellinto',
 'bluemaker',
 'RapidBox',
 'Bretton',
 'Chevit',
 'Numenzo',
 'sixXplus']

In [119]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:40]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:40]

['Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Men White Solid Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Running Shoes Stylish Comfortable Shoes For Men Sneaker...',
 'Men Blue Solid Sneakers Sneakers For Men',
 'BMW MMS Future Kart Cat Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'RS-X WINTERIZED Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Men Blue Solid Sneakers Sneakers For Men',
 'casual for men Sneakers For Men',
 'EXPLORE Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'fuzor B Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Casual Sneakrs For Men Sneakers For Men',
 'casual for men Sneakers For Men',
 'Sneakers For Men']

In [120]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:40]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:40]

['₹299₹49940% off',
 '₹699₹99930% off',
 '₹249₹99975% off',
 '₹2,199₹4,19947% off',
 '₹499₹99950% off',
 '₹474₹99952% off',
 '₹395₹99960% off',
 '₹1,499₹3,29954% off',
 '₹4,059₹6,99942% off\nFree delivery',
 '₹474₹1,99976% off',
 '₹498₹79937% off',
 '₹630₹99936% off',
 '₹499₹99950% off',
 '₹4,048₹8,99955% off\nFree delivery',
 '₹549₹1,79869% off\nFree delivery',
 '₹680₹99931% off',
 '₹499₹99950% off',
 '₹384₹99961% off',
 '₹499₹1,49966% off\nFree delivery',
 '₹1,299₹2,79953% off\nFree delivery',
 '₹495₹71931% off',
 '₹499₹99950% off',
 '₹1,329₹1,89930% off\nFree delivery',
 '₹995₹1,99050% off\nFree delivery',
 '₹499₹99950% off',
 '₹259₹69962% off',
 '₹616₹99938% off\nFree delivery',
 '₹630₹99936% off',
 '₹2,086₹3,79945% off\nFree delivery',
 '₹539₹99946% off\nFree delivery',
 '₹499₹99950% off',
 '₹252₹49949% off',
 '₹680₹99931% off',
 '₹711₹1,29945% off\nFree delivery',
 '₹499₹99950% off',
 '₹640₹99935% off',
 '₹251₹1,99987% off',
 '₹624₹2,39773% off\nFree delivery',
 '₹429₹1,29966% off',
 '₹474₹99952% off\nFree delivery']

In [121]:
#extracting the next button data to click for next page by click method 
next_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn
next_btn.click()

In [123]:
titles = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(titles)
titles[0:20]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:20]

['Nilatin',
 'ESSENCE',
 'Zorth',
 'Roadster',
 'T-ROCK',
 'CLYMB',
 'BRUTON',
 'AMICO',
 'Zorth',
 'CLYMB',
 'ESSENCE',
 'RapidBox',
 'Robbie jones',
 'Arohi',
 'EMPTILE',
 'RapidBox',
 'Noztile',
 'SPARX',
 'WHITE WALKERS',
 'CLYMB']

In [124]:
discription= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(discription)
discription[0:20]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:20]

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Khalifa/Walking/Outdoor/Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'all white heartbeat casual shoe Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 'casual sneakers shoes For Mens Multicolor Combo(MR)-179...',
 'PANAL Sneakers For Men']

In [125]:
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price)
price[0:20]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:20]

['₹649₹2,99978% off',
 '₹512₹99948% off',
 '₹447₹99955% off',
 '₹1,499₹3,29954% off',
 '₹399₹99960% off',
 '₹616₹1,49958% off',
 '₹471₹3,99988% off',
 '₹499₹99950% off',
 '₹435₹99956% off',
 '₹616₹1,49958% off\nFree delivery',
 '₹569₹99943% off\nFree delivery',
 '₹680₹99931% off',
 '₹499₹99950% off',
 '₹430₹99956% off',
 '₹397₹99960% off',
 '₹630₹99936% off',
 '₹399₹1,99980% off',
 '₹849\nFree delivery',
 '₹599₹1,19850% off\nFree delivery',
 '₹249₹99975% off']

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description

In [126]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
#geting url
url = 'http://www.myntra.com/shoes'
driver.get(url)

In [130]:
#extracting price filter data and clicking on it 
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [131]:
#extracting colour filter and applying it 
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
colour_filter

In [129]:
colour_filter.click()

In [133]:
titles = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(titles)
titles[0:50]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:50]

['ALDO',
 'Nike',
 'ALDO',
 'ALDO',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Hush Puppies',
 'ASICS',
 'Nike',
 'Puma',
 'MANGO',
 'Hush Puppies',
 'Puma',
 'Skechers',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Puma',
 'J.FONTINI',
 'TRIBAN By Decathlon',
 'Hush Puppies',
 'Saint G',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Bugatti',
 'Tommy Hilfiger',
 'Saint G',
 'ALDO',
 'Heel & Buckle London',
 'Geox',
 'J.FONTINI',
 'ALDO',
 'J.FONTINI',
 'ALDO',
 'J.FONTINI',
 'MANGO',
 'DAVINCHI',
 'Sole To Soul',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Bugatti',
 'Sole To Soul',
 'Bugatti',
 'Geox',
 'ROSSO BRUNELLO',
 'ROSSO BRUNELLO',
 'Heel & Buckle London']

In [134]:
discription= driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(discription)
discription[0:50]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:50]

['Men Printed Sneakers',
 'Men Winflo 7 Running Shoes',
 'Men Leather Driving Shoes',
 'Men Woven Design Sneakers',
 'Men Magnify Nitro Running',
 'Electrify Nitro Running Shoes',
 'Eternity Nitro Running Shoes',
 'Men Jamming 2.0 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Running Shoes',
 'Men Air Max Dawn Sneakers',
 'Men Training or Gym Shoes',
 'Women Solid Sneakers',
 'Men Formal Derbys',
 'Men FUSE Training Shoes',
 'Men Go Run Hyper Burst Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Formal Slip-Ons',
 'Women Eternity NITRO Shoes',
 'Women Velocity NITRO Runners',
 'Men Black Leather Loafers',
 'Unisex Training or Gym Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Mid-Top Chelsea Boots',
 'Leather Sandals',
 'Women CLEAT Textured Sneakers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Cleated Leather Sneakers',
 'Women Leather Block Heels',
 'Wedge Sandals',
 'Men Suede Loafers',
 'Men Leather Driving Shoes',
 'Men Solid Loafers',
 'Leather Slim Heels',
 'Men Textured Leather Loafers',
 'Wedge Sandals',
 'Men Textured Leather Loafers',
 'Women Heeled Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Women Block Heeled Boots',
 'High-Top Block Heeled Boots',
 'Suede High-Top Block Heeled Boots',
 'Printed PU Kitten Sandals',
 'Men Solid Formal Oxfords',
 'High-Top Platform Heeled Boots',
 'Men Solid Leather Formal Derbys',
 'Women Leather Pumps',
 'PU Block Pumps with Buckles',
 'PU Block Pumps with Buckles',
 'Men Formal Leather Derby']

In [136]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price)
price[0:50]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:50]

['Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7995',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7999',
 'Rs. 10995',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8490',
 'Rs. 8579Rs. 10999(22% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 7599',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7739Rs. 8599(10% OFF)',
 'Rs. 9500',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 9499',
 'Rs. 8990',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8900',
 'Rs. 7900',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 8900',
 'Rs. 9499',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7990']

In [137]:
#extracting the next btn data for next page  
next_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_btn
next_btn.click()

In [138]:
titles = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(titles)
titles[0:50]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0:50]

['Heel & Buckle London',
 'Saint G',
 'fitflop',
 'ROSSO BRUNELLO',
 'Cobblerz',
 'Saint G',
 'New Balance',
 'Columbia',
 'Columbia',
 'Cole Haan',
 'Columbia',
 'Xtep',
 'Saint G',
 'Geox',
 'Geox',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Nike',
 'Royal Enfield',
 'Saint G',
 'ASICS',
 'Saint G',
 'Saint G',
 'Sole To Soul',
 'J.FONTINI',
 'Pavers England',
 'J.FONTINI',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'Saint G',
 'J.FONTINI',
 'Saint G',
 'DAVINCHI',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'Saint G',
 'J.FONTINI',
 'Saint G',
 'ASICS',
 'Saint G',
 'DAVINCHI',
 'Saint G',
 'Saint G',
 'Saint G',
 'Saint G']

In [139]:
discription= driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(discription)
discription[0:50]
product_discription = []

for i in discription:
    product_discription.append(i.text)
len(product_discription)
product_discription[0:50]

['Men Formal Leather Derby',
 'Striped Suede Flatform Heeled Boots',
 'Embellished Leather Flatform Sandals',
 'Textured PU Block Pumps',
 'Men Textured Leather Formal Derbys',
 'Leather Party Block Mules',
 'Women Woven Running Shoes',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Running Shoes',
 'Women Leather Mules',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Women Open Toe Flats',
 'Men Leather Loafers',
 'Women Sneakers',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Women WINFLO 7 Running Shoes',
 'Cabo WP Riding Boots',
 'Leather Heeled Knee High Boots',
 'Men Colourblocked PU Sneakers',
 'Women Leather Heeled Boots',
 'Women Leather Knee High Boots',
 'Platform Peep Toes with Buckles',
 'Men Leather Formal Loafers',
 'Men Leather Driving Shoes',
 'Men Leather Formal Loafers',
 'Leather Wedge Heeled Boots with Buckles',
 'Leather Kitten Heeled Boots',
 'Ustraa black',
 'Leather High-Top Block Heeled Boots',
 'Men Solid Leather Formal Loafers',
 'Printed Flatform Heeled Boots with Buckles',
 'Men Formal Leather Slip-Ons',
 'Leather Platform Heeled Boots',
 'Leather Block Heeled Boots with Bows',
 'Solid Slip On Shoes',
 'Suede Party High-Top Block Heeled Boots',
 'Men Textured Leather Formal Loafers',
 'Leather High-Top Heeled Boots',
 'Men Gel-Pulse 12 Running Shoe',
 'Suede High-Top Flatform Heeled Boots',
 'Men Textured Formal Leather Loafers',
 'Leather Boots with Buckles',
 'High-Top Block Heeled Boots',
 'Embellished Leather Block Heeled Boots',
 'Women High-Top Heeled Boots']

In [140]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price)
price[0:50]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:50]

['Rs. 7990',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 8299',
 'Rs. 7999',
 'Rs. 8999Rs. 9999(Rs. 1000 OFF)',
 'Rs. 7380Rs. 8200(10% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 7699',
 'Rs. 7216Rs. 8200(12% OFF)',
 'Rs. 7999',
 'Rs. 10990',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 7195Rs. 7995(10% OFF)',
 'Rs. 8500',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 9999',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 11815Rs. 13900(15% OFF)',
 'Rs. 7690',
 'Rs. 7490',
 'Rs. 7499',
 'Rs. 7490',
 'Rs. 12665Rs. 14900(15% OFF)',
 'Rs. 9900',
 'Rs. 8990',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 9990',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 8990',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 12510Rs. 13900(10% OFF)',
 'Rs. 7990',
 'Rs. 8925Rs. 10500(15% OFF)',
 'Rs. 8990',
 'Rs. 10625Rs. 12500(15% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 11475Rs. 13500(15% OFF)',
 'Rs. 8990',
 'Rs. 8925Rs. 10500(15% OFF)',
 'Rs. 10625Rs. 12500(15% OFF)',
 'Rs. 7869Rs. 12900(39% OFF)',
 'Rs. 12093Rs. 13900(13% OFF)']

q8...Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [16]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
#getting url
url = 'https://www.amazon.in/'
driver.get(url)

In [17]:
#extracting search element with laptop
search_product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_product
search_product.send_keys("Laptop")
#extracting the search btn element and clicking with click method
search_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_btn
search_btn.click()

In [19]:
#extracting the data of i7 and clicking on it
cpu_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[13]/span/a/div/label/i")
cpu_filter.click()

In [21]:
titles = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(titles)
titles[0: 10]
product_titles = []

for i in titles:
    product_titles.append(i.text)
len(product_titles)
product_titles[0: 10]

['Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Dell G15 5511 Intel i7-11800H Gaming Laptop,16GB DDR4,512GB SSD, Win 11+MSO\'21, NVIDIA RTX 3060 6GB GDDR6,15.6" (39.62cm) FHD AG 300 nits 165Hz, Backlit KB RGB, Black (D560670WIN9B), 2.6kg',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)',
 'Microsoft Surface Studio 14.4 inches Touchscreen Intel ® Core i7 Laptop (32GB Memory, Windows 11 Home, 2TB SSD - Platinum, 2.664Kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 '(Renewed) Acer Nitro 5 11th Gen Intel Core i5-11400H 15.6" (39.62cms) FHD 144Hz Gaming Laptop (8 GB/512GB SSD/Win 10/4 GB Graphics/NVIDIA GeForce GTX 1650/Shale Black, 2.2 kg/RGB Backlit Keyboard) AN515-57']

In [25]:
rating= driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(rating)
rating[0:10]
product_rating = []

for i in rating:
    product_rating.append(i.text)
len(product_rating)
product_rating[0:10]

['', '', '', '', '', '', '', '', '', '']

In [26]:
price = driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]')
len(price)
price[0:10]
product_price = []

for i in price:
    product_price.append(i.text)
len(product_price)
product_price[0:10]

['₹83,990\n₹1,22,390 (31% off)',
 '₹1,25,510\n₹1,56,045 (20% off)',
 '₹57,490\n₹82,990 (31% off)',
 '₹77,499\n₹90,999 (15% off)',
 '₹89,990\n₹1,27,990 (30% off)',
 '₹81,999\n₹1,40,000 (41% off)',
 '₹3,73,999\n₹4,29,999 (13% off)',
 '₹91,800\n₹99,800 (8% off)',
 '₹90,990\n₹1,28,520 (29% off)',
 '₹62,990\n₹95,000 (33% off)']

q9...Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida

In [20]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
#getting url
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [21]:
#extracting the job data element and clicking on it
job_btn = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_btn
job_btn.click()

In [22]:
#extracting the search element with data scienctist
search_job = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_job
search_job.send_keys("Data Scientist")
#extracting the search btn after that click on it
search_btn = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
search_btn
search_btn.click()

In [33]:
#then extracting location filter and clicking method
locn_filter = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]")
locn_filter

In [34]:
locn_filter.click()

In [39]:
loc = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
loc
loc.click()

In [40]:
titles = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(titles)
titles[0: 10]
company_titles = []

for i in titles:
    company_titles.append(i.text)
len(company_titles)
company_titles[0: 10]

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED',
 'Microsoft India (R and D) Pvt Ltd',
 'HCL Technologies Ltd',
 'Jubilant Foodworks Limited',
 'HCL Technologies',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED',
 'Hanu Software Solutions Pvt Ltd',
 'Tavant Technologies India Pvt. Ltd.']

In [44]:
days = driver.find_elements_by_xpath('//span[@class="body-small-l"][1]')
len(days)
days[0:10]
pub_days = []

for i in days:
    pub_days.append(i.text)
len(pub_days)
pub_days[0:10]

['10d ago',
 '11d ago',
 '12d ago',
 '22d ago',
 '20d ago',
 '9d ago',
 '26d ago',
 '4d ago',
 '11d ago',
 '1mon ago']

In [45]:
rating= driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating)
rating[0:10]
company_rating = []

for i in rating:
    company_rating.append(i.text)
len(company_rating)
company_rating[0:10]

['3.9', '3.8', '4.2', '4.2', '3.8', '3.9', '3.8', '3.7', '3.7', '4.0']

In [47]:
#creating the dataframe
jobs = pd.DataFrame()
jobs["company names"]=company_titles
jobs["posting date"]=pub_days
jobs["Job rating"]=company_rating
jobs

                                       company names posting date Job rating
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED      10d ago        3.9
1                           HCL Technologies Limited      11d ago        3.8
2              WSP CONSULTANTS INDIA PRIVATE LIMITED      12d ago        4.2
3                  Microsoft India (R and D) Pvt Ltd      22d ago        4.2
4                               HCL Technologies Ltd      20d ago        3.8
5                         Jubilant Foodworks Limited       9d ago        3.9
6                                   HCL Technologies      26d ago        3.8
7               RATEGAIN TRAVEL TECHNOLOGIES LIMITED       4d ago        3.7
8                    Hanu Software Solutions Pvt Ltd      11d ago        3.7
9                Tavant Technologies India Pvt. Ltd.     1mon ago        4.0

q10...Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [25]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver
#getting url
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [26]:
#extracting salary button data and clicking on it by click method  
salary_btn = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_btn
salary_btn.click()

In [27]:
#Extracting element of search with data scincetist 
search_profile = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_profile

In [28]:
search_profile.send_keys("Data Scienctist")

In [29]:
#extracting the search button element and clicking on it 
srch_btn = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[2]/div/div/p")
srch_btn
srch_btn.click()

In [30]:
titles = driver.find_elements_by_xpath('//div[@class="name"]/a')
len(titles)
titles[0: 10]
company_titles = []

for i in titles:
    company_titles.append(i.text)
len(company_titles)
company_titles[0: 10]

['Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson',
 'Deloitte']

In [31]:
total_salary = driver.find_elements_by_xpath('//div[@class="name"]/span')
len(total_salary)
total_salary[0: 10]
l = []

for i in total_salary:
    l.append(i.text)
len(l)
l[0: 10]

['based on 28 salaries',
 'based on 15 salaries',
 'based on 25 salaries',
 'based on 77 salaries',
 'based on 33 salaries',
 'based on 52 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries',
 'based on 57 salaries']

In [32]:
avg_salary = driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]')
len(avg_salary)
avg_salary[0: 10]
m = []

for i in avg_salary:
    m.append(i.text)
len(m)
m[0: 10]

['₹ 20.3L',
 '₹ 15.3L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.4L',
 '₹ 13.9L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L',
 '₹ 11.7L']

In [33]:
min_salary = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(min_salary)
min_salary[0: 10]
n = []

for i in range(0,len(min_salary),2):
    n.append(min_salary[i].text)
len(n)
n[0: 10]

['₹ 15.0L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 8.3L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L',
 '₹ 6.9L']

In [39]:
max_salary = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(max_salary)
max_salary[0: 10]
p = []

for i in range(1,len(min_salary),2):
    p.append(min_salary[i].text)
len(p)
p[0: 10]

['₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L',
 '₹ 23.4L']

In [40]:
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(exp)
exp[0: 10]
o = []

for i in exp:
    o.append(i.text)
len(o)
o[0: 10]

['Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp']

In [41]:
#crating the data frame
jobs = pd.DataFrame()
jobs["company names"]=company_titles
jobs["toatl salary"]=l
jobs["avrage_salary"]=m
jobs["minimum salary"]=n
jobs["maximum salary"]=p
jobs["experience"]=o
jobs

,company names,toatl salary,avrage_salary,minimum salary,maximum salary,experience
0,Ab Inbev,based on 28 salaries,₹ 20.3L,₹ 15.0L,₹ 25.5L,Data Scientist\n . \n3-4 yrs exp
1,ZS,based on 15 salaries,₹ 15.3L,₹ 9.5L,₹ 20.0L,Data Scientist\n . \n2 yrs exp
2,Optum,based on 25 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,Data Scientist\n . \n3-4 yrs exp
3,Fractal Analytics,based on 77 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,Data Scientist\n . \n2-4 yrs exp
4,Tiger Analytics,based on 33 salaries,₹ 14.4L,₹ 8.3L,₹ 20.0L,Data Scientist\n . \n3-4 yrs exp
5,UnitedHealth,based on 52 salaries,₹ 13.9L,₹ 8.3L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp
6,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist\n . \n4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
8,Ericsson,based on 43 salaries,₹ 11.9L,₹ 5.8L,₹ 24.0L,Data Scientist\n . \n3-4 yrs exp
9,Deloitte,based on 57 salaries,₹ 11.7L,₹ 6.9L,₹ 23.4L,Data Scientist\n . \n2-4 yrs exp

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone
    As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [46]:
#connecting webdriver
driver = webdriver.Chrome(r'C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome("chromedriver.exe")
#getting url
url = 'https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART'
driver.get(url)

In [47]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating)
rating
o = []

for i in rating:
    o.append(i.text)
len(o)
o

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [50]:
rating_review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(rating_review)
rating_review
p = []

for i in rating_review:
    p.append(i.text)
len(p)
p

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [56]:
full_review = driver.find_elements_by_xpath('//div[@class=""]')
len(full_review)
full_review
q = []

for i in full_review:
    q.append(i.text)
len(q)
q

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [58]:
next_btn = driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]")
next_btn
next_btn.click()

In [59]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating)
rating
o = []

for i in rating:
    o.append(i.text)
len(o)
o

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [60]:
rating_review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(rating_review)
rating_review
p = []

for i in rating_review:
    p.append(i.text)
len(p)
p

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Classy product',
 'Worth every penny',
 'Wonderful',
 'Terrific']

In [61]:
full_review = driver.find_elements_by_xpath('//div[@class=""]')
len(full_review)
full_review
q = []

for i in full_review:
    q.append(i.text)
len(q)
q

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Really worth of money. i just love it. It is the best phone ever.']

In [64]:
next_btn = driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]")
next_btn
next_btn.click()

In [67]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating)
rating
o = []

for i in rating:
    o.append(i.text)
len(o)
o

['5', '4', '5', '5', '5', '4', '5', '5', '5', '5']

In [68]:
full_review = driver.find_elements_by_xpath('//div[@class=""]')
len(full_review)
full_review
q = []

for i in full_review:
    q.append(i.text)
len(q)
q

['Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.']

In [69]:
rating_review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(rating_review)
rating_review
p = []

for i in rating_review:
    p.append(i.text)
len(p)
p

['Worth every penny',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Terrific purchase']