# Web Scrapping Assignment - 4

Submitted by - Aman Kumar Patel .

internship 25

SME - md. kashif

In [2]:
# installing selenium 

!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Importing Required Libraries

In [3]:
#importing necessary libraries
import selenium
import pandas as pd
from bs4 import BeautifulSoup
import time

#Importing requests
import requests

# importing regex
import re

# Importing selenium webdriver
from selenium import webdriver

# Importing required Exceptions
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

# importing warnings to avoid warnings
import warnings
warnings.filterwarnings("ignore")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [4]:
# Activating the chrome browser

driver = webdriver.Chrome("C:/Users/Hp/Downloads/chromedriver_win32/chromedriver.exe")

In [5]:
driver = webdriver.Chrome("chromedriver.exe")

In [6]:
# let's getting url

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [7]:
# now let's create a empty list 

Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [8]:
# scrapping the data of Rank details

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [9]:
# scrapping the data of names of videos 

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [10]:
# scrapping the data of artist name

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

In [11]:
# scrapping the data of video upload dates

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('-')

In [11]:
# scrapping the data of video views

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [12]:
# data framing of scrapped data

video = pd.DataFrame({})
video['Rank of video'] = Rank
video['Video Name'] = Name
video['Video Artist'] = Artist
video['Video Views'] = Upload_date
video['Uploaded Dates'] = Views

In [13]:
# shwoing the dataset

video

,Rank of video,Video Name,Video Artist,Video Views,Uploaded Dates
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.53,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.82,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.31,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.69,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.48,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.27,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.58,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.54,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.40,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.96,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.56,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.54,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.44,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.32,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.28,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.27,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.26,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.12,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.07,"June 29, 2017"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
# creating the chrome

driver = webdriver.Chrome("chromedriver.exe")

In [13]:
# let's getting url

url = "https://www.bcci.tv/"
driver.get(url)

In [14]:
# clicking on the international 

int_btn = driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]').click()

In [16]:
# clicking on the Fixture btn

fix_btn = driver.find_element_by_xpath("//a[@class='nav-link active ']")
try:
    fix_btn.click()
except ElementNotInteractableException:
    driver.get(fix_btn.get_attribute('href'))

In [19]:
# scrapping the match_title

Match = driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
len(Match)

Match_title=[]
for i in Match:
    Match_title.append(i.text)
Match_title

['1st T20I -', '2nd T20I -', '3rd T20I -', '4th T20I -', '5th T20I -']

In [22]:
# scrapping the Series name

Series_er = driver.find_elements_by_xpath("//div[@class='fixture-tab-inner row']/div/div/div[1]/h5[2]/span")
len(Series_er)

Series = []
for j in Series_er:
    Series.append(j.text)
Series

['SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [26]:
# scrapping the place_name

place = driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
len(place)

Place = []
for k in place:
    Place.append(k.text)
Place

['Arun Jaitley Stadium,',
 'Barabati Stadium,',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'M Chinnaswamy Stadium,']

In [29]:
# scrapping the date of match 

date = driver.find_elements_by_xpath("//div[@class='fixture-tab-inner row']/div/div/div[1]/div/div[1]/h5")
len(date)

Date = []
for k in date:
    Date.append(k.text)
Date

['9 JUN 2022', '12 JUN 2022', '14 JUN 2022', '17 JUN 2022', '19 JUN 2022']

In [31]:
# scrapping the time of match

time = driver.find_elements_by_xpath("//div[@class='fixture-tab-inner row']/div/div/div[1]/div/div[2]/h5")
len(time)

Time = []
for k in time:
    Time.append(k.text)
Time

['7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST']

In [33]:
# creating dataframe

BCCI=pd.DataFrame()
BCCI['Match_title']= Match_title
BCCI['Series']= Series
BCCI['Place ']= Place
BCCI['Time']= Time
BCCI

,Match_title,Series,Place,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",7:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [34]:
# getting the url

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(3)

In [35]:
#Going to search bar and searching for selenium exception

ser_bar = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
ser_bar.send_keys("selenium exception handling")

In [36]:
# clicking the search button

ser_but = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
ser_but.click()

In [37]:
#Url of selenium exception handling page

urls = driver.find_element_by_xpath("//div[@class='gsc-expansionArea']//div//a")
page_url = urls.get_attribute("href")

driver.get(page_url)
time.sleep(5)

In [38]:
# calling the page_url

driver.get(page_url)
time.sleep(5)

In [39]:
#Scraping data of names of exceptions
Name = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[1:]:
    Name.append(i.text)

In [40]:
#Scraping data of descriptions of exceptions  

Description = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[1:]:
    Description.append(i.text)

In [41]:
# DATA FRAMEING

exception = pd.DataFrame({})
exception['Names of Exception'] = Name
exception['Descriptions of Exception'] = Description

In [42]:
# calling the dataset:

exception

,Names of Exception,Descriptions of Exception
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [43]:
# lets active the chrome

driver = webdriver.Chrome("chromedriver.exe")

In [44]:
# lets create with url

url = "http://statisticstimes.com/"
driver.get (url)
time.sleep(3)

In [45]:
# follow the instruction , we will choose the economy option

urls = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
ind_page = urls.get_attribute("href")

# going to the india economy page

driver.get(ind_page)

it is unclickable so, i have call the url data of ind ecconomy

In [46]:
# get the url of page containing GDP of indian states

sta_GDP = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

stete Gdp is also unclickable so i have scrpped the urls data of the particular page,
and now i can scrapped easily

In [47]:
#Creating empty list

Rank = []
State = []
Gsdp_1 = []
Gsdp_2 = []
Share = []
Gsdp = []

i am giong to scraped from id..because all required scrapped data is in form of horizental line, and it is suitlable form,so that is easy to scraped .

In [48]:
# scrapping the data of rank

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

In [49]:
# scrapping the data of state name

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

In [50]:
# scrapping the data of Gsdp_1

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    Gsdp_1.append(i.text)

In [51]:
# scrapping the data of Gsdp_2

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    Gsdp_2.append(i.text)

In [52]:
# scrapping the data of share

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

In [53]:
#scrapping the data of Gsdp

for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    Gsdp.append(i.text)

In [54]:
#DATA FRAMEING
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['Current GSDP (19-20)'] = Gsdp_1
StatisticsTime['current GSDP (18-19)'] = Gsdp_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = Gsdp

In [55]:
StatisticsTime

,Rank,State,Current GSDP (19-20),current GSDP (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [19]:
# lets active the chrome

driver=webdriver.Chrome('chromedriver.exe')

In [20]:
# getting the chrome

url = 'https://github.com/'
driver.get(url)

In [22]:
# scrapping the url

url = []
for i in driver.find_elements_by_xpath("//ul[@class='list-style-none f5 pb-1']/li[5]/a"):
    url.append(i.get_attribute('href'))
url

['https://github.com/features/packages', 'https://github.com/trending']

In [23]:
# let's call the scrapped url

driver.get(url[1])

In [24]:
# scrapping the title

title = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
len(title)

Repo_title = []
for j in title:
    Repo_title.append(j.text)
Repo_title

['freeCodeCamp / freeCodeCamp',
 'SebLague / Geographical-Adventures',
 'pyscript / pyscript',
 'programthink / zhao',
 'microsoft / ML-For-Beginners',
 'twbs / bootstrap',
 'mvt-project / mvt',
 'twostraws / simple-swiftui',
 'programthink / books',
 'justjavac / free-programming-books-zh_CN',
 'Wechat-ggGitHub / Awesome-GitHub-Repo',
 'dataabc / weiboSpider',
 'papers-we-love / papers-we-love',
 'Grasscutters / Grasscutter',
 'ipfs / go-ipfs',
 'PacktPublishing / The-Kaggle-Book',
 'replicate / cog',
 'appsmithorg / appsmith',
 'pyodide / pyodide',
 'ItsKaitlyn03 / OculusKiller',
 'directus / directus',
 'scottbez1 / smartknob',
 'palantir / blueprint',
 'Runc2333 / dingdong-helper-node',
 'dotnet / docs']

In [27]:
# checking the length of tilte

len(Repo_title)

25

In [25]:
# scrapping the description 

desc = driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
len(desc)

description = []
for k in desc:
    description.append(k.text)
description

["freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 '【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵',
 '12 weeks, 26 lessons, 52 quizzes, classic Machine Learning for all',
 'The most popular HTML, CSS, and JavaScript framework for developing responsive, mobile first projects on the web.',
 'MVT (Mobile Verification Toolkit) helps with conducting forensics of mobile devices in order to find signs of a potential compromise.',
 'A collection of small SwiftUI sample projects.',
 '【编程随想】收藏的电子书清单（多个学科，含下载链接）',
 '📚 免费的计算机编程类中文书籍，欢迎投稿',
 '收集整理 GitHub 上高质量、有趣的开源项目。',
 '新浪微博爬虫，用python爬取新浪微博数据',
 'Papers from the computer science community to read and discuss.',
 'A server software reimplementation for a certain anime game.',
 'IPFS implementation in Go',
 'Code Repository for The Kaggle Book, Published by Packt Publishing',
 'Containers for machine learning',
 'Low code project to build admin panels, internal tools, and dashboards. Integrates with 15+ databases and any API.',
 'Pyodide is a Python distribution for the browser and Node.js based on WebAssembly',
 'Completely kill the Oculus Dash and auto-launch SteamVR.',
 'The Modern Data Stack 🐰 — Directus is an instant REST+GraphQL API and intuitive no-code data collaboration app for any SQL database.',
 'Haptic input knob with software-defined endstops and virtual detents',
 'A React-based UI toolkit for the web',
 '叮咚买菜助手，使用iOS客户端原生API，支持高峰期下单、支持捡漏、支持多账号、支持webhook通知（需自行实现对端）',
 'This repository contains .NET Documentation.']

In [26]:
# checking the length

len(description)

23

In [28]:
# completing the length of description

description.insert(15,"NA")
description.insert(20,"NA")

In [29]:
# checking the length of description

len(description)

25

In [31]:
# scrapping cont. 

cont = driver.find_elements_by_xpath("//div[@class='f6 color-fg-muted mt-2']/a[2]")
len(cont)

counts = []
for k in cont:
    counts.append(k.text)
counts

['28,579',
 '155',
 '274',
 '2,446',
 '6,764',
 '76,622',
 '628',
 '20',
 '2,661',
 '26,011',
 '458',
 '1,544',
 '4,748',
 '1,605',
 '2,606',
 '122',
 '61',
 '1,362',
 '502',
 '7',
 '1,763',
 '449',
 '2,000',
 '47',
 '5,098']

In [32]:
# checking length of cont.

len(counts)

25

In [33]:
# scrapping the language

lang = driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']/span[2]")
len(lang)

Language = []
for k in lang:
    Language.append(k.text)
Language

['TypeScript',
 'C#',
 'JavaScript',
 'Python',
 'Jupyter Notebook',
 'JavaScript',
 'Python',
 'Swift',
 'Python',
 'Shell',
 'Java',
 'Go',
 'Jupyter Notebook',
 'Go',
 'TypeScript',
 'Python',
 'C#',
 'TypeScript',
 'C++',
 'TypeScript',
 'JavaScript']

In [34]:
# checkling the length 

len(Language)

21

In [35]:
# completing the language

Language1=Language
Language1.insert(2,"NA")
Language2=Language
Language2.insert(11,"NA")
Language3=Language
Language3.insert(13,"NA")
Language4=Language
Language4.insert(20,"NA")

In [36]:
# checking the length

len(Language)

25

In [37]:
# data framing

trending=pd.DataFrame()
trending['Repository_title']= Repo_title
trending['Repository_description']= description
trending['Contributors_count']= counts
trending['Language_Used']= Language
trending

,Repository_title,Repository_description,Contributors_count,Language_Used
0,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"28,579",TypeScript
1,SebLague / Geographical-Adventures,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,155,C#
2,pyscript / pyscript,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",274,NA
3,programthink / zhao,"The most popular HTML, CSS, and JavaScript fra...","2,446",JavaScript
4,microsoft / ML-For-Beginners,MVT (Mobile Verification Toolkit) helps with c...,"6,764",Python
5,twbs / bootstrap,A collection of small SwiftUI sample projects.,"76,622",Jupyter Notebook
6,mvt-project / mvt,【编程随想】收藏的电子书清单（多个学科，含下载链接）,628,JavaScript
7,twostraws / simple-swiftui,📚 免费的计算机编程类中文书籍，欢迎投稿,20,Python
8,programthink / books,收集整理 GitHub 上高质量、有趣的开源项目。,"2,661",Swift
9,justjavac / free-programming-books-zh_CN,新浪微博爬虫，用python爬取新浪微博数据,"26,011",Python
10,Wechat-ggGitHub / Awesome-GitHub-Repo,Papers from the computer science community to ...,458,Shell
11,dataabc / weiboSpider,A server software reimplementation for a certa...,"1,544",NA
12,papers-we-love / papers-we-love,IPFS implementation in Go,"4,748",Java
13,Grasscutters / Grasscutter,"Code Repository for The Kaggle Book, Published...","1,605",NA
14,ipfs / go-ipfs,Containers for machine learning,"2,606",Go
15,PacktPublishing / The-Kaggle-Book,NA,122,Jupyter Notebook
16,replicate / cog,"Low code project to build admin panels, intern...",61,Go
17,appsmithorg / appsmith,Pyodide is a Python distribution for the brows...,"1,362",TypeScript
18,pyodide / pyodide,Completely kill the Oculus Dash and auto-launc...,502,Python
19,ItsKaitlyn03 / OculusKiller,The Modern Data Stack 🐰 — Directus is an insta...,7,C#
20,directus / directus,NA,"1,763",NA
21,scottbez1 / smartknob,Haptic input knob with software-defined endsto...,449,TypeScript
22,palantir / blueprint,A React-based UI toolkit for the web,"2,000",C++
23,Runc2333 / dingdong-helper-node,叮咚买菜助手，使用iOS客户端原生API，支持高峰期下单、支持捡漏、支持多账号、支持webh...,47,TypeScript
24,dotnet / docs,This repository contains .NET Documentation.,"5,098",JavaScript

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [38]:
# lets active the chrome

driver=webdriver.Chrome('chromedriver.exe')

In [39]:
# connecting chrome with the url 

url = "https:/www.billboard.com/"
driver.get(url)

In [40]:
# scrapping the url page

Urls=[]
for i in driver.find_elements_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']/a"):
    Urls.append(i.get_attribute("href"))
Urls

['https://www.billboard.com/charts',
 'https://www.billboard.com/c/music/',
 'https://www.billboard.com/c/culture/',
 'https://www.billboard.com/c/media/',
 'https://www.billboard.com/pro']

In [43]:
# calling charts url

driver.get(Urls[0])

In [45]:
# clicking on hot 100

hot=driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span')
hot.click()

In [46]:
# scarpping the song name

name=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li/h3')
len(name)

Song_name=[]
for j in name:
    Song_name.append(j.text)
Song_name

['As It Was',
 'First Class',
 'Heat Waves',
 'Big Energy',
 'Enemy',
 'Stay',
 'Woman',
 'Ghost',
 'Super Gremlin',
 'Thats What I Want',
 'Bad Habits',
 'Shivers',
 'abcdefu',
 'Cold Heart (PNAU Remix)',
 'Thousand Miles',
 'Save Your Tears',
 'One Right Now',
 'Levitating',
 'Need To Know',
 'MAMIII',
 'Bam Bam',
 'Industry Baby',
 "'Til You Can't",
 'Easy On Me',
 'In A Minute',
 "Doin' This",
 'Wasted On You',
 'AA',
 'Plan B',
 'Hrs And Hrs',
 'Boyfriend',
 'Sweetest Pie',
 'Trouble With A Heartbreak',
 'Right On',
 'Good 4 U',
 'Provenza',
 'Numb Little Bug',
 'To The Moon!',
 'I Hate U',
 "We Don't Talk About Bruno",
 'Never Say Never',
 "Don't Think Jesus",
 'You Right',
 'Fingers Crossed',
 'Fancy Like',
 'Sand In My Boots',
 "She's All I Wanna Be",
 'The Motto',
 'What Happened To Virgil',
 "When You're Gone",
 '2step',
 'Beers On Me',
 'Pushin P',
 'Freaky Deaky',
 'Something In The Orange',
 'Peru',
 'Hold That Heat',
 'If I Was A Cowboy',
 'Scrape It Off',
 'About Damn Time',
 'Tomorrow Me',
 'Slow Down Summer',
 'Never Wanted To Be That Girl',
 'Light Switch',
 '23',
 'Me Or Sum',
 'Broadway Girls',
 'Flowers',
 'No Love',
 'Flower Shops',
 'Nail Tech',
 'Give Heaven Some Hell',
 'Get Into It (Yuh)',
 'Take My Name',
 'Surface Pressure',
 'Neck & Wrist',
 'Handsomer',
 'Rock N Roll',
 'Ahhh Ha',
 'Do We Have A Problem?',
 'Dreamin Of The Past',
 'Circles Around This Town',
 'Damn Strait',
 'Envolver',
 'Shake It',
 'I Love You So',
 'Rumors',
 'She Likes It',
 'In My Head',
 'Soy El Unico',
 'Leave You Alone',
 'Out Of Time',
 'Banking On Me',
 'Come Back As A Country Boy',
 'Desesperados',
 'Bones',
 'Hate Our Love',
 'Over',
 'City Of Gods',
 'Brambleton']

In [47]:
# checking the length of song_name

len(Song_name)

100

In [48]:
# scrraping the artist name

Artist=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
len(Artist)

artist_name=[]
for k in Artist:
    artist_name.append(k.text)
artist_name

['Harry Styles',
 'Jack Harlow',
 'Glass Animals',
 'Latto',
 'Imagine Dragons X JID',
 'The Kid LAROI & Justin Bieber',
 'Doja Cat',
 'Justin Bieber',
 'Kodak Black',
 'Lil Nas X',
 'Ed Sheeran',
 'Ed Sheeran',
 'GAYLE',
 'Elton John & Dua Lipa',
 'The Kid LAROI',
 'The Weeknd & Ariana Grande',
 'Post Malone & The Weeknd',
 'Dua Lipa',
 'Doja Cat',
 'Becky G X Karol G',
 'Camila Cabello Featuring Ed Sheeran',
 'Lil Nas X & Jack Harlow',
 'Cody Johnson',
 'Adele',
 'Lil Baby',
 'Luke Combs',
 'Morgan Wallen',
 'Walker Hayes',
 'Megan Thee Stallion',
 'Muni Long',
 'Dove Cameron',
 'Megan Thee Stallion & Dua Lipa',
 'Jason Aldean',
 'Lil Baby',
 'Olivia Rodrigo',
 'Karol G',
 'Em Beihold',
 'JNR CHOI & Sam Tompkins',
 'SZA',
 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
 'Cole Swindell / Lainey Wilson',
 'Morgan Wallen',
 'Doja Cat & The Weeknd',
 'Lauren Spencer-Smith',
 'Walker Hayes',
 'Morgan Wallen',
 'Tate McRae',
 'Tiesto & Ava Max',
 'Lil Durk Featuring Gunna',
 'Shawn Mendes',
 'Ed Sheeran Featuring Lil Baby',
 'Dierks Bentley, BRELAND & HARDY',
 'Gunna & Future Featuring Young Thug',
 'Tyga X Doja Cat',
 'Zach Bryan',
 'Fireboy DML & Ed Sheeran',
 'Southside, Travis Scott & Future',
 'Miranda Lambert',
 'Pusha T Featuring Lil Uzi Vert & Don Toliver',
 'Lizzo',
 'Luke Combs',
 'Thomas Rhett',
 'Carly Pearce & Ashley McBryde',
 'Charlie Puth',
 'Sam Hunt',
 'Nardo Wick, Lil Baby & Future',
 'Lil Durk Featuring Morgan Wallen',
 'Lauren Spencer-Smith',
 'Summer Walker & SZA',
 'ERNEST Featuring Morgan Wallen',
 'Jack Harlow',
 'HARDY',
 'Doja Cat',
 'Parmalee',
 'Jessica Darrow',
 'Pusha T Featuring JAY-Z & Pharrell Williams',
 'Russ Featuring Ktlyn',
 'Pusha T Featuring Kanye West & Kid Cudi',
 'Lil Durk',
 'Nicki Minaj X Lil Baby',
 'Pusha T Featuring Kanye West',
 'Maren Morris',
 'Scotty McCreery',
 'Anitta',
 'Kay Flock, Cardi B, Dougie B & Bory300',
 'The Walters',
 'Gucci Mane Featuring Lil Durk',
 'Russell Dickerson & Jake Scott',
 'Lil Tjay',
 'Yahritza y Su Esencia',
 'Kane Brown',
 'The Weeknd',
 'Gunna',
 'Blake Shelton',
 'Rauw Alejandro & Chencho Corleone',
 'Imagine Dragons',
 'Queen Naija & Big Sean',
 'Lucky Daye',
 'Fivio Foreign, Kanye West & Alicia Keys',
 'Pusha T']

In [49]:
# checking the length of artist name

len(artist_name)

100

In [51]:
# scrapping the week pee rank

wrank=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
len(wrank)

Last_week_rank=[]
for k in wrank:
    Last_week_rank.append(k.text)
Last_week_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '8',
 '10',
 '9',
 '11',
 '12',
 '14',
 '13',
 '15',
 '-',
 '18',
 '19',
 '21',
 '17',
 '24',
 '25',
 '23',
 '22',
 '16',
 '20',
 '30',
 '31',
 '32',
 '-',
 '26',
 '37',
 '34',
 '59',
 '28',
 '33',
 '-',
 '40',
 '38',
 '36',
 '27',
 '29',
 '7',
 '39',
 '35',
 '41',
 '42',
 '47',
 '46',
 '43',
 '48',
 '-',
 '45',
 '44',
 '57',
 '-',
 '54',
 '-',
 '53',
 '-',
 '50',
 '-',
 '64',
 '66',
 '52',
 '58',
 '67',
 '60',
 '55',
 '62',
 '65',
 '56',
 '69',
 '73',
 '75',
 '63',
 '-',
 '70',
 '-',
 '68',
 '72',
 '-',
 '77',
 '76',
 '71',
 '51',
 '81',
 '74',
 '89',
 '78',
 '80',
 '86',
 '-',
 '88',
 '82',
 '91',
 '87',
 '94',
 '92',
 '84',
 '-']

In [52]:
# checking the length

len(Last_week_rank)

100

In [53]:
# scrraoing the peak rank

peak=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
len(peak)

Peak_rank=[]
for k in peak:
    Peak_rank.append(k.text)
Peak_rank

['1',
 '1',
 '1',
 '3',
 '5',
 '1',
 '7',
 '5',
 '3',
 '8',
 '2',
 '4',
 '3',
 '7',
 '15',
 '1',
 '6',
 '2',
 '8',
 '15',
 '21',
 '1',
 '18',
 '1',
 '14',
 '26',
 '9',
 '28',
 '29',
 '16',
 '31',
 '15',
 '33',
 '13',
 '1',
 '36',
 '37',
 '38',
 '7',
 '1',
 '27',
 '7',
 '11',
 '19',
 '3',
 '30',
 '44',
 '42',
 '22',
 '38',
 '51',
 '40',
 '7',
 '43',
 '55',
 '53',
 '57',
 '53',
 '59',
 '50',
 '61',
 '43',
 '63',
 '27',
 '50',
 '58',
 '14',
 '55',
 '13',
 '64',
 '18',
 '69',
 '68',
 '74',
 '8',
 '76',
 '40',
 '78',
 '18',
 '2',
 '81',
 '52',
 '76',
 '70',
 '51',
 '71',
 '51',
 '86',
 '33',
 '20',
 '86',
 '32',
 '61',
 '81',
 '91',
 '87',
 '88',
 '77',
 '46',
 '100']

In [55]:
# checking the length

len(Peak_rank)

100

In [56]:
# scraping the weeks on baord

weeks=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
len(weeks)

Weeks_on_board=[]
for k in weeks:
    Weeks_on_board.append(k.text)
Weeks_on_board

['4',
 '3',
 '67',
 '27',
 '23',
 '42',
 '39',
 '31',
 '25',
 '32',
 '44',
 '33',
 '23',
 '34',
 '1',
 '69',
 '25',
 '77',
 '46',
 '11',
 '8',
 '40',
 '29',
 '29',
 '3',
 '20',
 '24',
 '16',
 '1',
 '18',
 '11',
 '7',
 '6',
 '3',
 '50',
 '1',
 '13',
 '9',
 '21',
 '18',
 '15',
 '2',
 '43',
 '17',
 '45',
 '41',
 '12',
 '13',
 '7',
 '4',
 '1',
 '18',
 '16',
 '9',
 '1',
 '13',
 '1',
 '13',
 '1',
 '2',
 '1',
 '10',
 '16',
 '14',
 '18',
 '16',
 '19',
 '2',
 '17',
 '14',
 '10',
 '9',
 '21',
 '4',
 '18',
 '2',
 '8',
 '1',
 '10',
 '12',
 '1',
 '16',
 '4',
 '5',
 '2',
 '15',
 '13',
 '6',
 '4',
 '5',
 '2',
 '3',
 '10',
 '13',
 '4',
 '7',
 '3',
 '6',
 '10',
 '1']

In [59]:
# checking the length of of weeks on baoard

len(Weeks_on_board)

100

In [61]:
# Data Framing

HOT=pd.DataFrame()

HOT['Song_name']= Song_name
HOT['Artist_name ']= artist_name
HOT['Last_week_rank']= Last_week_rank
HOT['Peak_rank']= Peak_rank
HOT['Weeks_on_board']= Weeks_on_board
HOT

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,As It Was,Harry Styles,1,1,4
1,First Class,Jack Harlow,2,1,3
2,Heat Waves,Glass Animals,3,1,67
3,Big Energy,Latto,4,3,27
4,Enemy,Imagine Dragons X JID,5,5,23
...,...,...,...,...,...
95,Bones,Imagine Dragons,87,87,7
96,Hate Our Love,Queen Naija & Big Sean,94,88,3
97,Over,Lucky Daye,92,77,6
98,City Of Gods,"Fivio Foreign, Kanye West & Alicia Keys",84,46,10
99,Brambleton,Pusha T,-,100,1

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [89]:
# calling the special url

url = 'https://www.naukri.com/' 

driver.get(url)

In [90]:
# searching "Data Scientitst" in search columns

search_field_designation = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input").send_keys("Data science")

In [91]:
# clicking on search btn

search_field_designation = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]").click()

In [92]:
# Fetching urls for recruiter page

rec = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = rec.get_attribute("href")

driver.get(page_url)

In [93]:
# clciking the Data Scienctist

search_field_designation = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input").send_keys("Data science")

In [94]:
# clciking on search_button

search_field_designation = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [95]:
# Creating empty list

Name = []
Designation = []
Company = []
Skills = []
Location = []

In [98]:
#Scraping data of Names

for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)

In [101]:
# scrapping drscription 

for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)

In [104]:
# Scrapping Company name 

for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

In [107]:
# scrapping the skills

for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    Skills.append(i.text)

In [132]:
# scrapping location 

for i in driver.find_elements_by_xpath("//div[@class='vcard']"):
    Location.append(i.text)

In [135]:
#DATA FRAMEING

Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills

In [136]:
Naukri

,Name,Designation,Company,Skills
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [4]:
#Activating the chrome browser

driver = webdriver.Chrome("chromedriver.exe")

In [138]:
# getting url

url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [139]:
#Creating empty list

Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [140]:
# scrapping the book names

for i in driver.find_elements_by_xpath("//tbody//tr//td[2]"):
    Book_name.append(i.text)

In [142]:
len(Book_name)

100

In [143]:
# scrapping the author name

for i in driver.find_elements_by_xpath("//tbody//tr//td[3]"):
    Author.append(i.text)

In [144]:
len(Author)

100

In [145]:
# scrapping the number of volume sold

for i in driver.find_elements_by_xpath("//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)

In [146]:
len(Volumes_sold)

100

In [147]:
# scrapping the publisher

for i in driver.find_elements_by_xpath("//tbody//tr//td[5]"):
    Publisher.append(i.text)

In [148]:
len(Publisher)

100

In [149]:
# scrapping the genre

for i in driver.find_elements_by_xpath("//tbody//tr//td[6]"):
    Genre.append(i.text)

In [150]:
len(Genre)

100

In [151]:
#DATA FRAMEING

Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [152]:
# calling url

url = ' https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [153]:
#Creating empty lists.

Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [154]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [155]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes

In [157]:
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,980,785"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"986,490"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"943,992"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"282,023"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,921"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,546"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,180"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,828"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,019"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"226,349"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [5]:
# calling the url

url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [6]:
#Finding view all dataset button

view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

In [7]:
#Getting page urls containing list of all datasets

all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

In [8]:
#fetching url for each dataset

data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [9]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [12]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    #Scraping Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    #scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [13]:
# data framing

UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
851,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
852,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
853,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
854,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
855,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

# DONE :)